html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Taviraj', serif;
    font-size: 1.1rem;
    text-align: center;
    scroll-behavior: smooth;
    background-color:  rgb(194, 183, 181);
}
nav {
    top: 0;
    width: 100%;
    position: fixed;
    background-color: rgba(62, 66, 61, 0.7);
    z-index: 1;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    
}
.fundo1 {
    
 background-image: url("../imagens/capa.png");
}
.fundo2 {
    background-image: url("../imagens/tend.jpeg");
}
.fundo3 {
    background-image: url("../Imagens/noivas.jpg");
    
}
.fundo1, .fundo2, .fundo3 {
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center;
    
  
}
.fundo4 {
   
    width: 100%;
    height: 100%;
    position: absolute;
}


.destaque {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    color: rgb(255, 255, 255);
    background-color: rgba(102, 96, 96, 0.322);
    padding: 10px;
    width: 30%;
    font-size: 1rem;
    filter: drop-shadow(4px 4px rgb(0, 0, 0));
    margin: auto;

}
footer {
    position: absolute;
    color: rgb(255, 255, 255);
    margin-top: 680px;
    font-size: small;
    
    
}

.conteudo {
    color: rgb(0, 0, 0);
    background-color:  rgb(194, 183, 181);
    padding:  20px 25px;
}
.texto {
    text-align: justify;

}
h3 {
    text-align: center;
    text-transform: unset;
    color: rgb(18, 31, 31);
    padding: 25px;

}
video {
    width: 90%;
    height: 410px;
    border: 8px outset rgb(165, 151, 151);
    box-shadow:  5px 5px 10px black;
    margin-bottom: 18px;
}
.fotos_animadas {
    width: 90%;
    height: 410px;
    margin: auto;
    background-size: cover;
    border-radius: 5%;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-name: troca_imagem;
    border: 8px outset rgb(165, 151, 151);
    box-shadow:  5px 5px 10px black;
}
@keyframes troca_imagem {
    5%   {background-image: url("../imagens/le.jpg"); }
    15%  {background-image: url("../imagens/coque.jpeg"); }
    33% {background-image: url("../imagens/g.jpg"); }
    66%   {background-image: url("../imagens/b.jpg"); }
    100%   {background-image: url("../imagens/k.jpg"); }
}
#img_destaque {
    
    height: 25%;
    width: 50%;
    border-radius: 100%;
    border: 8px outset rgb(165, 151, 151);
    box-shadow:  5px 5px 10px black;
    margin-top: 70px;
    margin-bottom: 10%;
}
.container {
    display: flex;
    margin: 40px;
    width: 80%;
    filter: drop-shadow(4px 4px rgb(0, 0, 0));
    box-shadow:  5px 5px 10px black;
    border-radius: 10%;
    height: 15%;
  
 
}

.container img {
    
    box-shadow:  5px 15px 15px black;
    width: 90%;
    height: 100%;
    padding: 2%;
    border-radius: 100%;
    filter: drop-shadow(4px 4px rgb(0, 0, 0));
     
} 
.container div {
    padding: 5px;
    height: 80%;
    width: 20%;
}
h2 {
    margin-top: 30%;
    margin-bottom: 10%;
    font-size: 1.5rem;
    
    
}
p {
    margin: 5%;
}
#nome, #email, #fone {
    font-family:  'Taviraj', serif;
    font-size: 1rem;
    width: 60%;
    border-radius: 6px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 12px 12px 40px;
    margin: 40px 0 0 10px;

}
#nome {
    background-image: url("../Imagens/o.png");
}
#email {
    background-image: url("../Imagens/m.png");
}
#fone {
    background-image: url("../Imagens/n.png");
}
label, .botao {
    background-color:  rgb(167, 162, 161);
    color: rgb(1, 3, 3);
    width: 60%;
    border-radius: 6px;
    margin: 40px;
    height: 35px;
    font-size: 1.2rem;
    
}
    

@media (min-width: 768px) {
    nav {
        padding: 17px 0px;
   
    }
    ul {
        padding: 8px;
        
        
    } 
    li {
        width: 25%;
        float: left;
    }  
    li:hover {
        transform: rotate(-5deg);
       
        
        
    }
    a {
        font-size: 1.30rem;
    }
    .fundo1, .fundo2, .fundo3 {
       background-position: center center;
       
        
      
    }
    .destaque {
        padding: 20px;
        font-size: 1.50rem;
        width: 20%;
        transition: width 1s;
    }
    footer {
     margin-top: 640px;
     margin-left: 15px;
     
    }
    footer:hover {
     color: black;
     box-shadow:  5px 5px 10px black;
     padding: 4px;
     
    }
 
   .destaque:hover {
    width: 45%;
    border-radius: 50px;
    box-shadow:  5px 5px 10px black;
   
    }
   .conteudo {
    padding: 40px;
    text-align: center;
   
   }
   .texto {
       text-align: justify;
   }
   video {
    width: 50%;
    height: 510px;
    

   }
   .fotos_animadas {
    width: 50%;
    height: 490px;
   
   }
   #img_destaque {
       width: 30%;
       height: 40%;
       margin: 10px;
   
   }
   .container {
    width: 75%;
    align-items: center;
    height: 26%;
    margin: 30px auto;
    
    
     }
    .container img {
    box-shadow:  5px 5px 10px black;
    max-width: 220px;
    max-height: 90px;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    float: right;
     

    }
    .container div {
    padding: 10px;
    
    } 
    p {
    margin: 10px;
    }
    h2 {
    margin-top: 8%;
    margin-bottom: 5%;
    font-size: 2rem;
    
    
    } 
    #nome, #email, #fone {
    width: 55%;
    padding: 15px 15px 15px 50px;
    margin: 15px;
    }
    label, .botao {
   
     margin-bottom: 5%;
     width: 35%;
 
  
    }
    label, .botao:hover {
    background-color: rgb(121, 121, 121);;
    }

    }













    
